<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sobre Nós - Cards Against Humanity</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="team-page">
    <div class="team-header">
        <h1>Sobre nós</h1>
        <div class="subtitle">A equipe por trás do jogo</div>
    </div>
    <div class="team-description">
        Conheça os desenvolvedores que transformaram o Cards Against Humanity em uma experiência multiplayer.
    </div>

    <div class="cards-container">
        <!-- Membro 1 -->
        <div class="member-card">
            <div class="card-image-placeholder">
                 <img src="/images/mariah2.jpeg" alt="Matheus" class="card-image">
            </div>
            <h3>Mariah Bócoli</h3>
            <div class="role">Desenvolvedora Backend e frontend</div>
            <div class="bio">
                Responsável pela lógica do servidor, persistência e regras do jogo. Apaixonada por Java e se arriscando no frontend. Membro fundador da opaleiros.
            </div>
        </div>

        <!-- Membro 2 -->
        <div class="member-card">
            <div class="card-image-placeholder">
                <img src="/images/rhuan.png" alt="Rhuan" class="card-image">
            </div>
            <h3>Rhuan Esteves</h3>
            <div class="role">Desenvolvedor Backend e frontend</div>
            <div class="bio">
                Criou a interface web, o sistema de autenticação e a integração com WebSocket. Foco em experiência do usuário.
            </div>
        </div>

    
    </div>


</div>

<script src="js/menu.js"></script>
</body>
</html>